

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ADD8E6;
  z-index: var(--z-fixed);
 }
 
 .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: var(--header-height);
  margin: 1rem;
 }

 .container {
  float: right;
 }
  
  
  .nav__list {
  display: flex;
  flex-direction: row;
  row-gap: 2.5rem;
 }
 
 .nav__link {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: monospace;
  /* color: var(--title-color); */
  /* font-weight: var(--font-semi-bold); */
  
  transition: color 0.3s;
  font-size: 1rem;

 }
 
 .nav__link:hover {
  color: var(--first-color);
 }

 @media screen and (max-width: 850px) {  
    .nav {
      display: flex;
      flex-direction: column; /* Adjust the layout for smaller screens */
      align-items: center;
      justify-content: center;
      position: relative;
      height: auto; /* Adjust height to wrap content */
      margin: 0; /* Remove margins for a more compact layout */
      padding: 1rem; /* Add padding for spacing */
    }

    .nav__link{
      font-size: 12px;
    }
    
    .container {
      float: none; /* Remove float for smaller screens */
      width: 100%; /* Ensure full width for the container */
      display: flex;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .nav__list {
      display: flex;
      flex-direction: row; /* Change to column for a vertical menu */
      row-gap: 1rem; /* Adjust gap between items */
      align-items: center; /* Center items for better alignment */
      font-size: 10px;
      padding-left: 0px;
    }

    .grid-container-intro {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 80px !important;
      /* align-items: center; Optional: centers items horizontally when stacked */
    }

    .project-showcase-container {
      flex-direction: column;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }

    .project-showcase-container1 {
      flex-direction: column;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }

    .centered-text h1 {
      font-size: 70px !important;
    }

    .text-paragraph{
      margin-left: 100px;
      margin-right: 100px;
    }

    .intro {
    /* padding-left: 20px; */
    padding-right: 20px;
    width: 100% !important;
    }

    .intro h1{
      /* padding-left: 150px; */
      text-align: center;
    }

    .intro p{
    padding-left: 50px;
    padding-right: 50px;
    }

    .job-card {
      /* margin-left: 10px !important; */
      margin-right: 10px !important;
      right: 50px;
    }

    .skills{
      width: 100% !important;
    }

    .skills h2 {
      font-size: 1.5rem !important;
      text-align: center;
      /* padding-left: 100px !important; */
      /* margin-bottom: 20px;
      margin-top: 20px; */
  }

  .skills-grid {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .job-title{
    font-size: 10px !important;
  }

  .job-duration{
    font-size: 8px !important;
  }

  .location {
    font-size: 10px;
  }

  .tech-stack span {
    font-size: 8px !important;
  }

  .text{
    font-size: 10px;
    font-family: monospace;
    color: lightslategray;
  }

  .toggle-btn {
    font-size: 12px !important;
  }

  .text-section h1 {
    font-size: 1.5rem !important;
  }

  .text-section p {
    font-size: 12px !important;
  }

  .card-container{
    width: 250% !important;
  }

  h1 {
    font-size: 9px !important;
  }

}



 .show-menu {
  right: 0;
 }

.main-content {
  background-color: hsla(36, 31%, 90%, 1);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
  /* height: calc(100vh - 60px); Adjust height based on navbar height */
  text-align: center;
  /* padding: 20px; */
  margin-top: 80px;
}

.animation{
  animation: backgroundColorTransition 12s infinite ease-in-out;

}

.centered-text {
  font-family: 'Futura';
  text-align: center;
  /* margin-bottom: 20px; Adds spacing below the first section */
  font-weight: 200;
  /* margin-top: 80px; */

}

.centered-text h1 {
  color: cadetblue;
  font-size: 100px;
  margin-bottom: 10px;
}

.centered-text p {
  font-size: 15px;
  color: #666;
}

/* Animation: make the card "dance" on hover */
.card:hover {
  transform: translateY(-10px) rotate(5deg);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  animation: dance 0.5s ease infinite alternate;
}

/* Grid Container */
.grid-container {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; Four equal rows */
  height: 120vh; /* Full viewport height */
   /* width: 100vw; Full width of the viewport */

}
.color-project{
  background-color: #f4f4f4;
  padding-top: 40px; /* Adds space above the content */
  /* padding-bottom: 40px; */

}

.grid-container-intro{
  display: flex;
  justify-content: center;
  background-color: rgb(250, 248, 244);
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 100px;
}

/* Styling for Sections */
.section {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
}


@keyframes dance {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}



.preview-button {
  padding: 10px 20px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Wrapper div to handle positioning */
.wrapper {
  position: relative;
  height: 10vh; /* Full viewport height */
}

/* Centering the button with absolute positioning and transform */


@keyframes backgroundColorTransition {
  0% {
    background-color: #ffd898; /* Orange */
  }
  10% {
    background-color: hsla(12, 82%, 94%, 0.9); /* Light Rose Quartz */
  }
  20% {
    background-color: hsla(206, 50%, 88%, 0.8); /* Light Blue */
  }
  30% {
    background-color: #f9eac2; /* Yellow */
  }
  40% {
    background-color: hsla(150, 65%, 85%, 0.7); /* Light Mint */
  }
  50% {
    background-color: #fee7e6; /* Rose Quartz */
  }
  60% {
    background-color: hsla(35, 80%, 75%, 0.8); /* Light Orange */
  }
  70% {
    background-color: hsla(172, 60%, 88%, 0.7); /* Light Aqua */
  }
  80% {
    background-color: #ecfdf1; /* Mint */
  }
  90% {
    background-color: hsla(50, 75%, 85%, 0.8); /* Light Yellow */
  }
  100% {
    background-color: #ffd898; /* Orange */
  }
}



.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 30px;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
}

.employment {
  margin-bottom: 40px;
  position: relative;
}

.employment:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #6c5ce7;
  border-radius: 50%;
  border: 2px solid #fff;
}

.company {
  font-weight: bold;
  color: #6c5ce7;
}

.location {
  color: #666;
  margin-bottom: 5px;
}

.dates {
  margin-bottom: 10px;
  color: #666;
}

.role {
  font-weight: bold;
  color: #333;
}
.job-card1{
  margin-top: 50px;
}
.job-card {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  background-color: #f4b7b7;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  padding: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-bottom: 20px;
}

.job-card3 {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f4b7b7;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-bottom: 20px;
}

.job-title {
  font-size: 18px;
  /* font-weight: bold; */
  font-family: futura;
}

.job-duration {
  float: right;
  font-size: 14px;
  /* color: #e5e5e5; */
  /* font-weight: bold; */
  font-family: futura;
  color: rgb(95, 90, 90);
}

.details {
  font-family: futura;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tech-stack span {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.work-color{
  background-color: #f4f4f4;
}

.work-style {
    padding-top: 70px;
    font-family: 'Futura';
    text-align: center;
    font-weight: 400;
    margin-top: 0px;

}

/* Add this CSS for styling */
.project-showcase-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
}

.project-showcase-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
  margin-top: 50px; /* Adjust the space above */
  margin-bottom: 50px; 
}

.image-section {
  flex: 1;
  padding-right: 20px;
}

.image-section img {
  width: 100%;
  border-radius: 8px;
}

.text-section {
  flex: 1;
}

.text-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #584fdf;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  color: black;
  width: 60%;
  font-family: monospace;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.intro p {
  color: black;
  margin-bottom: 20px;
  line-height: 1.6;
}

.intro a {
  color: #0073b1; /* LinkedIn blue color */
  text-decoration: none;
  font-weight: bold;
}

.skills {
  width: 35%;
  font-family: monospace;
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.skills-grid span {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  /* font-size: 1rem; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-text{
  color: #666;
}

.font-style{
    font-family: sans-serif;
}


.contact-section {
  padding: 4rem 1.5rem;
  background-color: #f9fafb;
  border-top: 1px solid #e5e7eb;
  text-align: center;
}

.contact-container {
  max-width: 700px;
  margin: 0 auto;
}

.contact-section h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1rem;
}

.contact-section p {
  font-size: 1.125rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.contact-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #2563eb;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #1e40af;
}

.text-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-margin-bottom{
  margin-top: 0px;
  margin-bottom: 18px;
}
/* card */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	background: linear-gradient(
  to right,
  #a3d9a5,   /* Pastel Leaf Green */
  #b7e4c7,   /* Mint Green */
  #d2f8d2,   /* Light Pastel Green */
  #b7e4c7,   /* Mint Green */
  #a3d9a5    /* Pastel Leaf Green */
);

	font-family: "Martel Sans", sans-serif;
}

h1 {
	font-size: 16px;
	text-align: center;
	/* color: white; */
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	/* color: #0e390e; */
	margin-bottom: 1.5rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 500px;
	height: 65vmin;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(
  -50deg,
  #b7e4c7,     /* Mint Green */
  #a3d9a5,     /* Pastel Leaf Green */
  #8fcf8f,     /* Soft Forest Green */
  #b7e4c7,     /* Mint Green */
  #d2f8d2,     /* Light Pastel Green */
  #aaf0d1,     /* Magic Mint */
  #b7e4c7      /* Mint Green */
) 1;

	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
  font-size: 0.8rem
}

.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
  background: #a3d9a5; /* Pastel Leaf Green */
	transition: 0.4s ease-in-out;
	z-index: 1;
  padding: 0.5rem;
}
.overlay-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 12vmin;
	height: 100%;
	padding: 0.25rem 0 0 0.25rem;
	border: 3px solid;
	border-image: linear-gradient(
  to bottom,
  #fceabb 5%,          /* Light Gold */
  #b5d3c5 35%,         /* Soft Mint */
  #b5d3c5 65%,         /* Soft Mint */
  #fceabb 95%          /* Light Gold */
) 0 0 0 100%;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content-card1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
  background-image: url('./assets/images/machine-learning.png'); 
	transition: 0.3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-card2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
  background-image: url('./assets/images/seattle-website.png'); 
	background-size: cover;
	transition: 0.3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-card3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
  background-image: url('./assets/images/student-management-system-image1.png');
	background-size: cover;
	transition: 0.3s ease-in-out;
	/* border: 1px solid green; */
}

.inset {
	max-width: 40%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: 0.3s ease-in-out 0.3s;
}
.dot {
	width: 10px;
	height: 10px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: 0.3s ease-in-out 0.3s;
}

.text1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 2vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
	overflow-y: scroll;
  font-size: 0.8rem;
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}

/* Animations and timing delays */
.animate {
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
/* Pop In */
.pop {
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/* Slide In */
.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/* Slide Left */
.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}

.card-scroll-wrapper {
  width: 100vw;
  overflow-x: auto;  /* Enables scroll only for this wrapper */
  overflow-y: hidden;
}

.card-container {
  display: flex;
  flex-direction: row; /* Show cards side-by-side */
  gap: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  width: max-content; /* Make it as wide as its content */
}

.card-margin{
  margin-left: 0px;
  margin-right: 0px;
  /* width: 500px; */
}